body {
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.716);
}

.cajaPrincipal {
    display: grid;
    place-items: center;
    grid-template-areas: 
    "lector lector lector"
    "accesos panel panel"
    "accesos panel panel";
    width: 50%;
    height: 35rem;
    background-color: cadetblue;
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 6.25rem;
}

#lector {
    grid-area: lector;
    width: 95%;
    height: 130px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1.5rem;
    text-align: center;
    line-height: 2;
}

#lector_panel {
    display: block;
    height: 50px;
    width: 95%;
}

.accesos {
    grid-area: accesos;
    width: 90%;
    height: 400px;
    background-color: beige;
    border: 2px solid black;
    border-radius: 10px;
}

.panelNumerico {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 7px;
    grid-area: panel;
    width: 95%;
    height: 400px;
    background-color: cornflowerblue;
    border: 2px solid black;
    border-radius: 10px;
    
}

.numeros, .boton {
    width: 25%;
    height: 80px;
    background-color: blue;
    border: 2px solid black;
    border-radius: 40px;
    text-align: center;
    line-height: 2.5;
    font-size: 30px;
    margin-top: .5rem;
}

.numeros:hover, .boton:hover {
    background-color: rgb(4, 4, 66);
    color: white;
}

